@use '../../../assets/styles/partials' as *;

.exercise-medium-card {
    position: relative;
    width: 90%;
    max-width: 330px;
    height: 120px;
    border-radius: 21px;
    cursor: pointer;
    overflow: hidden;

    @include transition(.3s);
    @include shadow($color-purple, 0, 0, .1rem, .6rem, .3);

    &:hover {
        @include shadow($color-purple, 0, 0, .1rem, 1.2rem, .3);
    }
    &__icon {
        width: 90px;
        min-width: 90px;
        max-width: 90px;
        height: 100%;
        background-color: $color-yellow-30;
        margin-right: $space-base-xl;

        & img {
            width: 81%;
        }
    } 

    &__name {
        font-size: $text-size-sm;
    }
    &__category {
        font-size: $text-size-base;
        font-weight: 300;
    }
}