@use '../../assets/styles/partials' as *;

.dashboard {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;

    &__content {

        @include desktop-sm {
            margin: auto;
            position: relative;
            width: 60%
        }
    }

    &__nav {
        position: sticky;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        z-index: 99;
    }
}