@use '../../../assets/styles/partials' as *;

.login-form {
    min-width: 210px;
    padding: $space-sm-sm;
    width: 100%;
    max-width: 330px;
    min-height: 300px;
    height: auto;
    background-color: $color-light;
    border-radius: 21px;
    @include shadow($color-purple, 0, 0, .3rem, .9rem, .1);

    &__small {
        margin: $space-base-lg;
        font-size: $text-size-base-sm;
        color: $color-gray-70;
        text-decoration: underline;
    }
}