@use '../../../assets/styles/partials' as *;

.team-video {
    min-width: 210px;
    width: 90%;
    height: 240px;
    background-color: $color-light;
    border-radius: 21px;
    overflow: hidden;
    margin: $space-base-lg;
    @include transition(.3s);
    @include shadow($color-purple, 0, 0, .3rem, .6rem, .1);

    &:hover {
        @include shadow($color-purple, 0, 0, .3rem, .9rem, .3);
    }

    @include tablet {
        width: 30%;
        height: 300px;
        max-width: 390px;
    }

    &__video {
        width: 100%;
        height: 150px;

        @include tablet {
            height: 180px;
            margin-bottom: $space-base-lg;
        }
    }

    &__date, &__title {
        font-weight: 500;
        font-size: $text-size-sm;
        margin: $space-base-sm;
        padding-left: $space-base-lg;
    }
}